{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('new-form') }}
{% endblock %}

{% block title %}New product{% endblock %}

{% block body %}

<div class="container">
    <div class="box-content">
        <h2 class="title">Add new product</h2>
        <form 
            class="add-product-form" 
            method="{{ (product is defined and product is not null) ? 'PUT' : 'POST' }}" 
            action="{{ (product is defined and product is not null) ? '/updateProduct' : '/addProduct' }}"
        >   
            <input type="hidden" id="productId" name="productId" value="{{ (product is defined and product is not null) ? product.id : '' }}" />

            <div class="user-details">
                <div class="column">
                    <div class="input-box">
                        <input type="text" id="productTitle" name="productTitle" placeholder="Title of the product" value="{{ (product is defined and product is not null) ? product.name : '' }}">
                    </div>
                    <div class="input-box">
                        <input type="text" name="productPrice" placeholder="Price of the product (£)" value="{{ (product is defined and product is not null) ? product.price : '' }}">
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <textarea name="productDescription" rows="5" placeholder="Description of the product">{{ (product is defined and product is not null) ? product.description : '' }}</textarea>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="button submit-button">
                    <input type="submit" value="Submit">
                </div>
                {% if product is defined and product is not null %}
                    <div class="button remove-button" id="remove-button" data-product-id="{{product.id}}">Delete</div>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}
