{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('back-office') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('product') }}
{% endblock %}

{% block title %}Products{% endblock %}

{% block body %}
{{ parent() }}
<div class="container">
    <div class="listing">
        <table class="listing-table">
            <tr class="listing-header">
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            {% for product in products %}
                <tr class="item-row" data-product-id="{{product.id}}">
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td class="price-row">{{product.price}} £</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="action-buttons">
        <a href="/productForm" class="add-button">Add product</a>
    </div>
</div>

{% endblock %}